<!-- <p>contact works!</p> -->


    <div class="container">
  <div class="col-sm-12 col-md-12 heading"  data-aos="fade-down">Contact Me</div>
      <div class="col-sm-12 col-md-12 para1"  data-aos="zoom-in">
        I am always excited to work on some awesome projects, message me let's
        disscuss over coffee.
      </div>
      <!-- <div class="col-sm-12 col-md-12 para2"  data-aos="zoom-in">
        No &copy; copyright issues. Feel free to copy. If you need any help, ping
        me !
      </div> -->
      <div class="row mt-3">
        <div class="col-sm-12 col-md-7 left-content" data-aos="zoom-in">
          <div class="mt-2 address">
            <div class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="">
              Plot no-2/8, ELTI campus, Maitrivihar,Chandrasekharpur, Bhubaneswar,
              Odisha-751023
            </div>
          </div>
          <div class="mt-4 address">
            <div class="icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="">+91-9776444095</div>
          </div>
          <div class="mt-4 address">
            <div class="icon mt-1">
              <i class="far fa-envelope"></i>
            </div>
            <div class="">anuvabb31@gmail.com</div>
          </div>
        </div>
  
        <div class="container col-sm-12 col-md-5">
          <div class="card p-4" data-aos="zoom-in">


              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14966.398208268349!2d85.8179029!3d20.31683595000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909ba03e68faf%3A0x7adc09e8a42e7eeb!2sELTI%20Campus!5e0!3m2!1sen!2sin!4v1655192778087!5m2!1sen!2sin"  height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

             
          </div>
        </div>
      </div>
    </div>
  
