
$color-left-nav-background: hsl(252,30%,100%);
$color-right-nav-background: hsl(252,30%,95%);
$color-button-background: hsl(252,75%,60%);
$color-nav-link: hsl(252,75%,60%);
$color-nav-name: hsl(252,30%,17%);
$color-button-textcolor: hsl(252,30%,100%);
$color-image-background: hsl(252,75%,60%);
$color-image-div-background: hsl(252,30%,100%);
$color-image-border: hsl(252,75%,60%);
$color-sub-title: hsl(252,75%,60%);
$color-card-heading: hsl(252,30%,17%);
$color-form-label: hsl(252,30%,17%);
$color-progress-background: hsl(252,30%,100%);
$color-progress-level-background: hsl(252,75%,60%);
$color-para1: hsl(252,30%,17%);
$color-icon: hsl(252,75%,60%);
$color-address: hsl(252,30%,17%);

$color-overlay-background :#11141aa7;
$color-modal-popup-background :white;
$color-modal-popup-boxshadow :#00000029;
$color-popup-input-boxshadow :rgb(194, 191, 191);
$color-button-close: red;
$color-popup-close-background : white;



// color for defalut theme

// color for light dark
//color for dark theme

// about
$color-text1:hsl(252,30%,17%);